<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body >
    <% include ../partials/header %>

    <div class="container" id="pageTitle">
      <p>Contact</p>
    </div>
      <div id="contactPadding">
        <div class="container" id="bodyPContact">
          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" id="mainText">
             <p>Company info:</p>
             <address>
              <strong>Looking Glass</strong><br>
              150 International Boardwalk<br>
              Redondo Beach, CA 90277<br>
              <abbr title = "Phone">P:</abbr> (310) 909-3179<br>
              Ledwards009@yahoo.com
              </address>  
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
      </div>
    
    <div class="container" id="bodyPAddress">
        <div class="row">
          <div class="col-xs-2">   
          </div>
          <div class="col-xs-8" id="mainTextMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.8514655945396!2d-118.39356788479046!3d33.8419409806636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b4a0c813b94d%3A0xa032d133ddcb2dcd!2s150+International+Boardwalk%2C+Redondo+Beach%2C+CA+90277!5e0!3m2!1sen!2sus!4v1509829688927" width="75%" height="300" frameborder="0" style="border:0" allowfullscreen id="map"></iframe>
             
          </div>
          <div class="col-xs-2">
             
          </div>
        
        </div>
      </div>
    <% include ../partials/footer %>

    
  </body>
</html>