<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

    <div class="container" id="pageTitle">
      <p>Events</p>
    </div>
      <div id="eventsPadding">
        <div class="container" id="bodyPEvents">
          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8" id="mainText">
             <p>We offer 1 hour private charters for $250, for more information on those please call 310-909-3179 or email us at Ledwards009@yahoo.com</p> 
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
      </div>
    

    
    <% include ../partials/footer %>

    
  </body>
</html>