<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    
    <% include ../partials/header %>
    <div class="container">
      <div class="row jumbotron" id="homeTop" >
        <div class="col-md-4 col-xs-2">
        
        </div>
        
          <div class="col-md-4 col-xs-8 text-center" id="logo"> 
        
           <img src="../images/Looking glass .jpg" class="img-responsive">
          <button type="button" class="btn btn-primary active" onclick="location.href='/contact'">Call Now!</button>
        </div>  
        <div class="col-md-4 col-xs-2">
         
        </div>
      </div>
    </div>
    

    <div class="container" id="bodyP">
      <div class="row">
        <div class="col-xs-2">
            
        </div>
          <div class="col-xs-8" id="mainText">
          
            <div class="h2Text">
              <h2>History of the boat</h2>
            </div>
            
            <p>
            The "Looking Glass" is a 19 passenger USCG inspected semi-submersible underwater viewing boat. It has over 6 tons of lead to sink the lower viewing area which has two seven foot long underwater picture windows. Built by "Sub Sea Systems" in Sacramento, California and launched in 1995 under the name "Ava Mahalo Lani" the vessel spent the first part of her life in Hawaii. From Hawaii she traveled to Catalina and was renamed "Looking Glass". In early 2005 she was purchased by Chaffin & Reeves Inc. After a refit she was put into service to replace the submarine replica "S44" in Redondo Beach. 
            </p>
            
            
          </div>
          <div class="col-xs-2">
         
          </div>
        </div>
      </div>
      <div class="container" id="videoBg">
        <div class="row">
          <div class="col-xs-2">
                
          </div>
          <div class="col-xs-8" id="videoBg2">
            <iframe src="https://www.youtube.com/embed/4VnMJxD5N-k" frameborder="0" gesture="media" allowfullscreen id="video"></iframe>
                
          </div>
          <div class="col-xs-2">
             
          </div>
        </div>
            
      </div>

     

    
    <% include ../partials/footer %>

    
  </body>
</html>