<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

    <div class="container" id="pageTitle">
      <p>Hours of Operation</p>
    </div>
    <div id="hoursPadding">
      <div class="container bodyPHoursTop" id="bodyPHours">
        <div class="row">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-8">
            <p>Open 7 days a week year around excluding Thanksgiving, Christmas, and days of bad weather. All rentals must be back to the dock at sunset.</p>
          </div>
          <div class="col-xs-2">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-8 bodyPHoursTop" id="headTextHours">
            <h2>Summer Hours:</h2>
          </div>
          <div class="col-xs-2">
          </div>
        </div>
      </div>
      
      <div class="container" id="bodyPHours">
        <div class="row">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-8" id="mainTextHours">
            <p>9am-sunset Saturday & Sunday</p>
            <p>Mon-Fri 9am-sunset</p> 
            <p>Glass bottom boat runs 7 days a week</p>
          </div>
          <div class="col-xs-2">
          </div>
        </div>
      </div>

      <div class="container" id="bodyPHours">
        <div class="row">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-8" id="headTextHours">
            <h2>Off-Summer Hours:</h2>
          </div>
          <div class="col-xs-2">
          </div>
        </div>
      </div>

      <div class="container bodyPHoursBottom" id="bodyPHours">
        <div class="row">
          <div class="col-xs-2">
          </div>
          <div class="col-xs-8 bodyPHoursBottom" id="mainTextHours">
              <p>9am-sunset Saturday & Sunday</p>
              <p>Mon-Friday 10am-sunset</p>
              <p>Glass bottom boat runs Friday-Monday</p>
          </div>
          <div class="col-xs-2">
          </div>
        </div>
      </div>
    </div>

    
    <% include ../partials/footer %>

    
  </body>
</html>


