<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>
    <div class="container" id="pageTitle">
      <p>Services</p>
    </div>
    <div id="bodyPServicesPadding">
          <div class="container" id="bodyPServices">
            <div class="row-fluid">
              
              <div class="col-md-6 col-xs-12">
                <div class="text-center">
                  <h2>Glass Bottom Boat Ride</h2>
                  <img src="../images/cobratandem.jpg">
                  <button class="btn btn_services" id="show1">Details</button>
                </div>

                <!-- The Modal -->
                <div id="modal1" class="modal">

                  <!-- Modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <span class="close">&times;</span>
                      <h3>Glass Bottom Boat Ride</h3>
                    </div>
                    <div class="modal-body">
                      <img src="../images/cobratandem.jpg">
                      <li>Adults $15.</li>
                      <li>Children $10 (17 & under).</li>
                      <li>Children must weigh at least 30 pounds.</li>
                      <li>Children 12 and under are required to wear a lifejacket that will be provided.</li> 

                    </div>
                    <!-- <div class="modal-footer">
                      
                    </div> -->
                  </div>

                </div>

                <!-- <li class="li_1">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li> -->
                <div class="text-center">
                  <h2>1 Hour Kayak Rental</h2>
                  <img src="../images/cobratandem.jpg">
                  <button class="btn btn_services" id="show2">Details</button>
                </div>
                <!-- The Modal -->
                <div id="modal2" class="modal">

                  <!-- Modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <span class="close">&times;</span>
                      <h3>1 Hour Kayak Rental</h3>
                    </div>
                    <div class="modal-body">
                      <img src="../images/cobratandem.jpg"> 
                      <li>$15 per single kayak.</li>
                      <li>$25 for double kayak.</li>
                      <li>Children must weigh 50 pounds and know how to swim.</li>
                      <li>Children 12 and under must be in a double with an adult.</li>
                      <li>Children 13 and over may go in a single by themselves but need to have an adult out on the water with them.</li>
                      <li>Must stay inside the Redondo Beach Harbor.</li>

                    </div>
                   <!--  <div class="modal-footer">
                      
                    </div> -->
                  </div>

                </div>
                
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="text-center">
                  <h2>1 hour rental for Pedal Boats</h2>
                  <img src="../images/cobratandem.jpg">
                  <button class="btn btn_services" id="show3">Details</button>
                </div>
                <!-- The Modal -->
                <div id="modal3" class="modal">

                  <!-- Modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <span class="close">&times;</span>
                      <h3>1 hour rental for Pedal Boats</h3>
                    </div>
                    <div class="modal-body">
                      <img src="../images/cobratandem.jpg">
                      
                      <li>$10 per adult (18+).</li>
                      <li>$5 per child (17 and under).</li>
                      <li>Must stay inside the Redondo Beach harbor.</li>
                      <li>Children have to weigh at least 30 pounds.</li>
                      <li>Must have at least 1 person over.</li>

                    </div>
                    <!-- <div class="modal-footer">
                      
                    </div> -->
                  </div>

                </div>
                <div class="text-center">
                  <h2>1 hour Stand-Up Paddle Boards SUP</h2>
                  <img src="../images/cobratandem.jpg">
                  <button class="btn btn_services" id="show4">Details</button>
                </div>
                <!-- The Modal -->
                <div id="modal4" class="modal">

                  <!-- Modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <span class="close">&times;</span>
                      <h3>1 hour Stand-Up Paddle Boards SUP</h3>
                    </div>
                    <div class="modal-body">
                      <img src="../images/cobratandem.jpg">
                      
                      <li>$15 per SUP.</li>
                      <li>Must be over 18 and knowhow to swim.</li>
                      <li>Must stay inside the Redondo Beach Harbor.</li>

                    </div>
                   <!--  <div class="modal-footer">
                      
                    </div> -->
                  </div>

                </div>
                
               
              </div>
            </div>
          </div>
    </div>        


    
    <% include ../partials/footer %>

    
  </body>
</html>